.input-form {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: 300px;
}
.input-field {
  display: flex;
  /*height: 50px;*/
  justify-content: space-between;
}
.input-rule {
  color: red;
  margin: 0.2rem 0;
  font-size: 0.8rem;
}

.input-rule.valid {
  color: green;
}
